$primary-color: hsl(0, 0%, 100%);

body {
  background-color:hsl(0, 0%, 100%);
  font-size: 18px;
  margin:0;
}
body * {
  transition: all .18s ease-in-out;
}

h1, h2, h3{
  font-weight: 700;
  margin: 0;
}
h2{
  font-size: 1.2rem;
}
h3{
  font-size: 1.5rem;
  font-weight: 800;
}
  
p, span {
  font-weight: 500;
}
p {
  font-size: 15px;
}

button{
  border: none;
  font-weight: 500;
}